/* PC、スマホ共通スタイル　*/
body {
  font-family: "Noto Sans Japanese", sans-serif;
}
/*===========
PC用のスタイル 
===========*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    max-width: 960px;
    min-width: 960px;
    margin: 0;
    padding: 0;
    border: solid 1px blue;
  }
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto 20px auto;
  }
  article,
  section,
  body,
  nav {
    border: solid 1px green;
    margin: 3px;
  }
  .home {
    color: #000000;
    font-weight: 700;
    font-size: 34px;
    margin-top: 31px;
    margin-left: 208px;
    border: solid 1px #000;
    padding: 11px 28px 12px 28px;
  }
  .menu {
    margin: 0 auto;
  }
  .about {
    color: #000;
    font-weight: 700;
    font-size: 34px;
    margin: auto;
  }
  .works {
    color: #000;
    width: 107px;
    height: 46px;
    left: 670px;
    top: 31px;
    font-style: normal;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    text-decoration: none;
  }
  #main-visual {
    width: 960px;
    height: 400px;
    left: 0;
    top: 109px;
    margin-top: 20px;
  }
  .about-h2 {
    width: 104px;
    height: 46px;
    left: 428px;
    top: 559px;
    font-weight: 700;
    font-size: 34px;
    color: #000;
    margin: 22px;
  }

  .about-main {
    display: flex;
    position: relative;
    margin: 0 auto;
  }
  .about-img {
    width: 141px;
    height: 142px;
    left: 321px;
    top: 631px;
    border-radius: 71px;
  }

  .name {
    width: 183px;
    height: 33px;
    left: 354px;
    top: 627px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 150px;
  }
  .list {
    left: 354px;
    top: 673px;
  }
}
/*========================
 スマートフォン用のスタイル 
 ========================*/
@media screen and (max-width: 767px) {
  .home {
    position: absolute;
    color: #000;
    width: 163px;
    height: 46px;
    left: 34px;
    top: 31px;
    font-size: 34px;
    font-weight: 700;
    font-style: normal;
    line-height: 46px;
  }
}
